@model IEnumerable<MVC_Review_Site_Project.Models.Review>

@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-default navbar-fixed-top">
     <div class="container navbar-header">
         <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        a m e r i c a n | w o l v e s.
    </div>
</nav>

<h2 class="Title">AMERICAN WOLVES</h2>
<h4 class="tagline">Devour culture.    Devour art.    Devour life.</h4>

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">

                <div class="caption">
                    <h3 class="UserName">@Html.DisplayFor(modelItem => item.Artist)</h3>
                    <p id="albumtitle">@Html.DisplayFor(modelItem => item.Album)<span><img src="~/Content/images/Touche-Amore-Stage-Four-640x640.jpeg" class="img-responsive" /></span></p>
                    <p><span class="label label-primary">Rating: </span>@Html.DisplayFor(modelItem => item.Rating)</p>
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-default", role = "button" })

                    
                </div>
            </div>
        </div>
    }
</div>
@*Footer*@
<div class="panel-footer">
    <div class="panel panel-default">
        <div class="panel-body">We Can Code IT Designs 2017</div>
        <div class="panel-nametext">By Keith David Jackson</div>
    </div>
</div>




    @*@*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Genre.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.QuickReview)
                </th>*@
    @*<th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.QuickReview)
                </td>*@
    @*<td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>
            </tr>
        }*@

    @*</table>*@@***@@*@*@
